<% @cart.cart_products.each do |cp| %>
    <% product = cp.product %>
    <div id="<%= "cart-#{product.id}" %>">

        <div style="display:flex;justify-content:space-between;margin: 0em 5em;">
            <div>
                <% product.pictures.each do |picture| %>
                    <%= image_tag(picture, style: "object-fit: contain; width:50px; height:50px;") %><strong> </strong>
                <% end %><br/>
                <i><%= product.name %></i>
            </div>

            <div>
                <strong>Description</strong><br/>
                <%= product.description %>
            </div><pre> </pre>

            <div>
                <strong>Prix courant</strong><br/>
                <%= product.current_price %>
            </div><pre> </pre>

            <div>
                <strong>Disponibility</strong><br/>
                <%= product.disponibility %>
            </div><pre> </pre>

            <div>
                <strong>Evaluation</strong><br/>
                <%= product.evaluation %>
            </div><pre> </pre>

            <div>
                <%= form_with(url: cart_add_path) do |f| %>
                    <%= f.hidden_field :id, value: product.id %>
                    <%= f.number_field :rate, value: cp.rate, min: 0 %><br/>
                    <%= f.submit "Mettre a jour" %>
                <% end %>
            </div>

            <div>
                <%= form_with(url: cart_remove_path) do |f| %>
                    <%= f.hidden_field :id, value: cp.id %>
                    <%= f.submit "Retirer" %>
                <% end %>
            </div><pre> </pre>
            
            <div>
                <strong>Total</strong><br/>
                <%= cp.total %>
            </div>
        </pre>

    </div><br/>

<% end %>